body {
    font-family: 'akkurat-pro' !important;
}

.flex {
    display: flex;
    @include breakpoint('mobile'){
        display: block;
    }
}

.half {
    width: 50%;
    @include breakpoint('mobile'){
        width: 100%;
    }
}

.min-height {
    min-height: 100vh;
}

.col-sm {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.padding-top {
    padding-top: 80px;
}

a {
    color: #333333 !important;
    &:hover {
        text-decoration: none !important;
        color: #333333;
    }
}
.xmaslink {
    color: blue !important;
}

.opacity-1 {
    opacity: 1 !important;
    visibility: visible !important;
}

.tdelay-0 {
    transition-delay: 0 !important;
}

.hero-mob-move {
    float: none !important;
    height: 200px !important;
    width: 100% !important;
}