@font-face {
    font-family: 'gravity-reg';
    src: url(../../fonts/Gravity-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'gravity-bold';
    src: url(../../fonts/Gravity-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'avenir-black';
    src: url(../../fonts/AvenirLTStd-Black.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'avenir-book';
    src: url(../../fonts/AvenirLTStd-Book.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'avenir-heavy';
    src: url(../../fonts/AvenirLTStd-Heavy.woff);
    font-weight: normal;
}