.icon {
    svg {
        font-size: 28px;
    }
    &__react {
        color: $react;
    }
    &__wordpress {
        color: $wordpress;
    }
    &__php {
        color: $php;
    }
    &__javascript {
        color: $javascript;
    }
    
}